package templates

templ Home() {
	<head>
		<link rel="stylesheet" href="/static/style.css"/>
	</head>
	<body class="flex items-center justify-center h-screen text-2xl text-teal-200 bg-black">
		<code>Let's make a URL shortener</code>
	</body>
}
